
#main-wrapper {
font-size: 1.25em; 
    line-height: 1.33em;
font-family: 'Droid Serif', serif;
box-sizing: border-box;
     padding-right: 25px;
    padding-left: 25px;
    max-width: 520px;
    margin: 0 auto;
}

#main-wrapper p
{
 font-size: .8em; 
    line-height: .1.1em;
    display: block;
-webkit-margin-before: 1.75em;
-webkit-margin-after: 1.75em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

#main-wrapper .comic {
 font-size: 1em;
    line-height: 1.2em;
font-family: 'Permanent Marker', cursive;
    text-align: center;
}


img {
 max-width: 100%;

}

iframe {
 max-width: 100%;
    margin: 0 auto;
    
}

#contact {
 text-align: center;
    color: white;
}

.icon1 {
       width: 90px;
    height: 90px;
  margin: 0 auto;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: block;
    width: 100%;
    text-align: center;
}

nav ul li a {
 background-color: red;
    color: white;
    font-size: 1em;
    padding: 12px 10px;
margin-bottom: 50px;
    margin-top: 20px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color .7s ease;
    border-radius: 1px;
        -webkit-transition: all .5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#main-wrapper .comic {
 font-size: 1em;
    line-height: 1.2em;
font-family: 'Permanent Marker', cursive;
    text-align: center;
}

h1 {
 margin: 0 auto;
    text-align: left;
  font-size: 1.4em;  
    line-height: 1.2em;
}



a {
 display: block;
    text-decoration: none;
}

li a:hover {
  background-color: tomato;    
}
li a:hover, .hover {
  background-color: tomato; 
    	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

svg:hover .hover

{
    fill: tomato; }

.main-footer {
    text-align: center;
    font-size: .7rem;
    box-shadow: 0px 0px 5px grey; 
    -webkit-box-shadow: 0px 0px 5px grey; 
    -moz-box-shadow: 0px 0px 5px grey;
    padding: 3px;

}



/* FORM STYLING*/
.body {
    display:block;
    margin:0 auto;
    width: 275px;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    color: #999;
}


/* Labels are titles for the text fields. You can use a placeholder instead if you like*/
label 
{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centres the form within the page */
form 
{
    margin:0 auto;
    width: 99%;
}

/* Styles the text boxes */
input, textarea, file {
	width:99%;
	height:27px;
	background-color:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:5px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

input:focus, textarea:focus {
		border:1px solid;
   background-color: #FFA97E;
    opacity: .9;
	}

/* Styles the text area boxes (message field) */	
textarea 
{
	height:213px;
	background-color: #efefef;
}


/* Styles the submit button */
#submit {
	/* background:url(images/submit.png); */
	width: 100%;
	height:48px;
	text-align: center;
/*	 text-indent:-9999px; */
	border:none;
	margin:20px auto;
	cursor:pointer;
    align-content: center;
    background-color: red;
    border-bottom: 5px solid tomato;
      border-style: solid;
   border-top-color: #C2BBB7;
    border-right-color: #5C5653;
    border-left-color: #C2BBB7;
    border-width: 3px;
    color: white;
    font-size: 1.2em;
}

/* Styles the submit hover */	
#submit:hover {
	color:#fff;
	background-color: tomato;
}


@media only screen and (min-width: 520px) {
 
#main-wrapper {
     max-width: 590px;   
    }
    
    .body {
    width: 420px;

}
}

@media only screen and (min-width: 600px) {
    
#main-wrapper {
     max-width: 700px;   
    } 
    
    #icon1container {
     display: -webkit-flex;
  display: flex;
    width: 100%;
    }
    
    .iconcolumn {
 width: 33.3333333%;
    margin-top: 50px;
    
}
    
    #mapcontainer {
     margin: 20px auto; 
    
    max-width: 600px;
    }
    
        .body {
    width: 550px;

}
    
}

@media only screen and (min-width: 782px)  {
    
    #main-wrapper {
     max-width: 720px;
    margin-top: 152px;
    }
    
nav {
   width: 100%;
   position: fixed;
   height: 100px;
   background-color: white;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 200;
    margin-top: -175px;
    align-items: center;
  }
    
nav ul {
display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
    
nav li, nav a {
 display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
    text-align: center;   
}

    nav ul li a {
    display: block;
    }
    
#flex1 {
 margin-right: auto;
    margin-left: 15px;
}

#flex2 {
margin-right: 20px;        
    }
    
    nav ul li a {
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 1.3em;
}

nav.sticky {    
    box-shadow: 0px 0px 5px grey; 
    -webkit-box-shadow: 0px 0px 5px grey; 
    -moz-box-shadow: 0px 0px 5px grey;
}
    
nav.sticky ul li a {
    padding: 10px;
    width: 120px;
}
    
    #main-wrapper .comic {
 font-size: 1.4em;
    line-height: 1.3em;
        text-align: center;
    }
    
    h1 {
 font-size: 1.8em; 
    line-height: 1.4em;
        text-align: center;
}
    
      .icon1 {
       width: 120px;
    height: 120px;
    }
}

