* {
    box-sizing: border-box;
/*
     border-style: solid;
    border-width: 5px;
    border-color: green;
*/
 
}

#main-wrapper {
font-size: 1.25em; 
    line-height: 1.33em;
font-family: 'Droid Serif', serif;
box-sizing: border-box;
     padding-right: 25px;
    padding-left: 25px;
    max-width: 520px;
    margin: 0 auto;
}

#main-wrapper p
{
 font-size: .8em; 
    line-height: .1.1em;
    display: block;
-webkit-margin-before: 1.75em;
-webkit-margin-after: 1.75em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
    

img {
 max-width: 100%;
}

iframe {
 max-width: 100%;
    margin: 0 auto;
    
}


nav ul {
    padding: 0;
    list-style-type: none;
    display: block;
    width: 100%;
    text-align: center;
}

nav ul li a {
 background-color: red;
    color: white;
 border-bottom: 5px solid tomato;
      border-style: solid;
   border-top-color: #C2BBB7;
    border-right-color: #5C5653;
    border-left-color: #C2BBB7;
    border-width: 3px;
    font-size: 1.1em;
    padding: 12px;
margin-bottom: 50px;
    margin-top: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color .7s ease;
    border-radius: 5%;
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.freetrial {
   border-bottom: 3px solid tomato;
    background-color: red;    
color: white;
  text-align: center;
    margin: 0 auto;
    display: block;
font-size: .8em;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    transition: background-color .7s ease;
      border-radius: 5%;
    width: 100%;
}

h1, h3 {
 margin: 0 auto;
    text-align: center;
    
}

h1 {
 font-size: 1em;   
    line-height: 1.1em;
}

h2 {
 font-size: 1em;
    line-height: 1.2em;
-webkit-margin-before: 2.5em;
-webkit-margin-after: -.75em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

#main-wrapper .comic {
 font-size: 1em;
    line-height: 1.2em;
font-family: 'Permanent Marker', cursive;
    text-align: center;
}

a {
 display: block;
    text-decoration: none;
}

li a:hover {
  background-color: tomato;    
}
li a:hover, .hover {
  background-color: tomato; 
    	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

svg:hover .hover

{
    fill: tomato; }


button:hover {
 background-color: tomato;   
}

.icon {
       width: 90px;
    height: 90px;
        margin: 0 auto;    
}

.icon1 {
       width: 90px;
    height: 90px;
  margin: 0 auto;
}


#tripadvisor {
 background: url(../images/trip_advisor.svg);
     
}

#yelp {
 background: url(../images/yelp.svg);   
}

#google {
 background: url(../images/google.svg); 
  
}

ul.list {
    list-style-type: circle;
    font-size: .7em;
    padding-right: 35px;
    padding-left: 35px;
    text-align: left;
    max-width: 275px;
    margin: 0 auto;
}

.main-footer {
    text-align: center;
    font-size: .7rem;
    box-shadow: 0px 0px 5px red; 
    -webkit-box-shadow: 0px 0px 5px red; 
    -moz-box-shadow: 0px 0px 5px red;
    padding: 6px;

}

@media only screen and (min-width: 520px) {
 
#main-wrapper {
     max-width: 590px;   
    }

.logobox {
 height: 106px;
    width: 375px;   
}

}

@media only screen and (min-width: 600px) {
    
#main-wrapper {
     max-width: 700px;   
    }  
    #review, #services, #process, #icon1container {
     display: -webkit-flex;
  display: flex;
    width: 100%;
    }

.iconcolumn {
 width: 33.3333333%;
    margin-top: 50px;
    
}
#mapcontainer {
     margin: 20px auto; 
    
    max-width: 600px;
    }
}

@media only screen and (min-width: 782px)  {
    
#main-wrapper {
     max-width: 820px;
    margin-top: 152px;
    }
    
nav {
   width: 100%;
   position: fixed;
   height: 100px;
   background-color: white;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 200;
    margin-top: -175px;
    align-items: center;
  }
    
nav ul {
display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
    flex-direction: row;
}
    
nav li, nav a {
 display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
    text-align: center;   
}

    nav ul li a {
    display: block;
    }
    
#flex1 {
 margin-right: auto;
    margin-left: 15px;
}
    

#flex2 {
margin-right: 24px;        
    }
    
    nav ul li a {
        margin-top: 25px;
        margin-bottom: 30px;
font-size: 1.3em;
    }
    
h1 {
 font-size: 1.8em; 
    line-height: 1.4em;
}

h2 {
        font-size: 1.4em; 
    line-height: 1.4em; 
        
    }
    
    .icon {
       width: 135px;
    height: 135px;
    }
    
    .icon1 {
       width: 120px;
    height: 120px;
    }
    
#main-wrapper .comic {
 font-size: 1.4em;
    line-height: 1.3em;
    }
    
#main-wrapper p {
     font-size: 1.1em; 
        line-height: 1.4em;
    }
    
    
nav.sticky {    
    box-shadow: 0px 0px 5px tomato; 
    -webkit-box-shadow: 0px 0px 5px tomato; 
    -moz-box-shadow: 0px 0px 5px tomato;
}
    
nav.sticky ul li a {
    padding: 10px;
    width: 140px;
}

.freetrial {
     width: 400px;
        font-size: 1.3em;
    }
    
    ul.list {

    font-size: .9em;
    }
}